<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WalkIN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>113BF5301D95D40A00BBE3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>113BF5441D95D40B00BBE3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>113BF54F1D95D40B00BBE3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
